################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tests/Assinaturas.UnitTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/tests/Assinaturas.UnitTests/obj/Debug/net6.0/Assinaturas.UnitTests.AssemblyInfo.cs
/tests/Assinaturas.UnitTests/obj/Debug/net6.0/Assinaturas.UnitTests.AssemblyInfoInputs.cache
/tests/Assinaturas.UnitTests/obj/Debug/net6.0/Assinaturas.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/tests/Assinaturas.UnitTests/obj/Debug/net6.0/Assinaturas.UnitTests.GlobalUsings.g.cs
*.user
/src/Assinaturas.WebUI/Properties/launchSettings.json
*.props
*.targets
*.cache
*.vsidx
*.editorconfig
/src/Assinaturas.WebApi/Properties/launchSettings.json
/src/Assinaturas.WebApi/obj/Assinaturas.WebApi.csproj.nuget.dgspec.json
/src/Assinaturas.WebApi/obj/project.assets.json
/src/Assinaturas.WebUI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/src/Assinaturas.WebUI/obj/Debug/net6.0/Assinaturas.WebUI.AssemblyInfo.cs
/src/Assinaturas.WebUI/obj/Debug/net6.0/Assinaturas.WebUI.GlobalUsings.g.cs
/src/Assinaturas.WebUI/obj/Debug/net6.0/Assinaturas.WebUI.RazorAssemblyInfo.cs
/src/Assinaturas.WebUI/obj/Assinaturas.WebUI.csproj.nuget.dgspec.json
/src/Assinaturas.WebUI/obj/project.assets.json
*.suo
/src/Assinaturas.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/src/Assinaturas.Application/obj/Debug/net6.0/Assinaturas.Application.AssemblyInfo.cs
/src/Assinaturas.Application/obj/Debug/net6.0/Assinaturas.Application.GlobalUsings.g.cs
/src/Assinaturas.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/src/Assinaturas.Domain/obj/Debug/net6.0/Assinaturas.Domain.AssemblyInfo.cs
/src/Assinaturas.Domain/obj/Debug/net6.0/Assinaturas.Domain.GlobalUsings.g.cs
/src/Assinaturas.Infrastructure.Persistence/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/src/Assinaturas.Infrastructure.Persistence/obj/Debug/net6.0/Assinaturas.Infrastructure.Persistence.AssemblyInfo.cs
/src/Assinaturas.Infrastructure.Persistence/obj/Debug/net6.0/Assinaturas.Infrastructure.Persistence.GlobalUsings.g.cs
/src/Assinaturas.WebApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/src/Assinaturas.WebApi/obj/Debug/net6.0/Assinaturas.WebApi.AssemblyInfo.cs
/src/Assinaturas.WebApi/obj/Debug/net6.0/Assinaturas.WebApi.GlobalUsings.g.cs
